/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* body rules */
body {
    font-family: Verdana;
    font-size: 16px;
    background-color: #ffece6;
}

header {
    background-color: #ff8c66;
    padding: 1rem 2%;
}
header h1 {
	margin: 0;
    font-size: 35px;
}
header h2{
	margin: 0; 
	font-weight: normal;
    font-size: 20px;
}
header picture.logo {
    float: left;
    margin: 0 2% 0 0; 
}

nav {background-color: #802000;}
nav ul{ list-style-type: none; margin:0; padding: 0;}
nav ul li {float:left; width: 25%;}
nav li.active {background-color: #661a00;}
nav a {
    display: block;
    padding: .8rem 0; /*44px min*/
    color: #eee;
    text-align: center;
    text-decoration: none;
}
nav a:hover {background-color: #661a00;}

.hero-image {
    width: 100%;
     height: 50%;
}

main{display: block; text-align: justify; }
main h1 {color: #661a00;  padding: 1rem 2%;}

picture.photoA {
    display: block;
    width: 98%;
    margin: 0 2%;
}

picture.photoA img {width: 50%; margin:2%;}
/*
picture.photoA div {
    text-align: left;
    font-weight: 500;
    color: #d0aa94;
}
*/

p {
    text-align:left;
    padding: 1rem 2%;
    background-color: #ffece6;
}


footer {
    position: relative;
    bottom: 0;
    height: 2.5rem;
    width: 100%;
    background-color: #802000;
    text-align: center;
    padding: 1rem 2%;
    left: 50%;
    transform:translateX(-50%);
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}