* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; 
    box-sizing: border-box; }

/* body rules here*/
body {
    font-family: Verdana;
    font-size: 16px;
}

/* header*/
header {
    background-color: #000a91dc;
    padding: 1rem 2%;
    color: #eee;
}
header h1 {
    margin: 0;
}
header h2 {
    margin: 0;
}


/* navigation */
nav {background-color: rgb(170, 27, 27);}
nav ul {margin: 0; padding: 0;}
nav li {list-style-type: none;}
nav li.active {background-color: rgb(85, 8, 8);}
nav a {
    display: block;
    padding: .8rem 0;
    color: #eee;
    text-align: center;
    text-decoration: none;
}
nav a:hover {background-color: #444;}

/* main */
main {
    padding: 1rem 2%;
    display: block;
}
main h1 {color: #000a91dc;}

main figure img {width: 100%;}
main figure{
    width: 100%;
    margin: 0;
}
main figcaption {text-align: center; font-size: .8rem;}

footer {
    text-align: center;
    padding: 1rem 2%;
    background-color: rgb(170, 27, 27);
    color: #eee;
}


.clearfix:after{
    content: "";
    display: table;
    clear: both;
}