header h1 {
    color: #0076bb;
}
nav ul {padding: 0;}
nav ul li {
    float: left;
    list-style-type: none;
}
nav ul li a {
    display: block;
    padding: .5rem;
    background-color: antiquewhite;
}
main h1 {
    clear: both;
}
main img {
    float: right;
}
footer {
    text-align: center;
    clear: both;
}