header, nav, main, footer {
        max-width: 64rem;
        margin:auto; 
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav ul li a{
         padding: .6rem 1rem;
    }
  


/*----------- MAIN --------------*/

.HomeImage img {width: 40%; float:left;}
.welcome{
    font-size: 1.2rem;
    margin-bottom:9rem;
}
.question{
    margin-top: 9rem;
}


/*----------- FOOTER --------------*/
    
