/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* body rules */
body {
    font-family: $fontFamily;
    font-weight: $regularWeight;
    font-size: 16px;
}
div#headerWrapper{
    background-color: $primaryColor;
}
header img {float:left;  padding-right: 15px;}
header {
    padding: .5rem $gutter;
    color: white;
    
    h1 {
        margin: 1.5rem 0 0 0; 
        font-size: 1.5rem;
        font-weight: $heavyWeight;
        
    }//end of h1
    

    h2{
        margin: 0; 
        margin-bottom: 20px;
        font-size: 1.2rem; 
        font-weight: $regularWeight;
        
    }// end of h2

}//end of header

div#navWrapper {background-color:#e4c517;}

nav {
    ul{margin:0; padding: 0;}
    li {width: 50%; float: left; list-style-type:none;}
    li.active {background-color: #333}
    a {
        display: block;
        padding: .5rem 00; /*44px min*/
        color: white;
        text-align: center;
        text-decoration: none;
    }// end of a
    nav a:hover {background-color: #444;}

} //end of nav



main{display: block; padding: 1rem $gutter;
    figure.myphoto{
        margin: 0;
        background-size: cover;
        height: auto;
        width: 100%;
    }

    h1 {color:$primaryColor;
        font-weight: $heavyWeight;
    }
    figure img {width: 100%;}
    figure{
        margin: 0;
        width: 100%;    
    }
    figcaption {text-align: center; font-size: .8rem;}
}// end of main


div#footerWrapper{background-color: $primaryColor;}
footer {
    color: white;
    text-align: center;
    padding: 1rem $gutter;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}