*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#navbar {
    width: 100%; 
    display: flex;
    justify-content: flex-end;
    position: fixed;
    background-color: aliceblue;
    
}

#navlist {
    display: flex;   
    list-style: none;   
    
}

#navlist a{
    display: block;
    font-size: 1.5em;
    padding: .5em .5em;
    color: dimgrey;
}

#navlist a:hover {
    background-color: lightsteelblue;
    color: white;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightsteelblue;
    color:white;
    width: 100%;
    height: 100vh;
    font-size: 2rem;
}

#projects {
    background-color: #123C69;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-tile{
    margin-top: 50px;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    
}

.project-tile:hover {
    color: white;
    text-decoration: underline;
}

figcaption {
    
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

#contact{
    background-color: lightsteelblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    width: 100%;
    height: 100vh;
    font-size: 2rem;
}

.links {
    float: left; 
    text-decoration: none; 
    padding: 30px;
    font-size: 1.4rem;
    color: #123C69;
} 

.links a:hover {
    color: white;
    text-decoration: underline;
}

.verticalLine {
    border-left: thick solid #ff0000;
}


footer {
    font-weight: 300;
    text-align: center;
    padding: 1.5rem;
    background: aliceblue;
    color: dimgrey;
} 

@media (max-width: 1200px) {
    html {
        font-size: 100%;
    }
}
@media (max-width: 980px) {
    html {
        font-size: 80%;
    }
}
@media (max-width: 460px) {
    html {
        font-size: 60%;
    }
}

