div#pageWrapper {
    grid-template-areas: 
        "header header"
        "navigation content"
        "footer footer";
    grid-template-columns: 150px auto;
}



/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
a.myjump {
    display: none;
}
nav {height: auto;}

/*----------- MAIN --------------*/
.right{
    float: right; 
    margin: 0px 0px 15px 15px;
}

.left{
    float: left; 
    margin: 0px 0px 15px 15px;
}


/*----------- FOOTER --------------*/
    
