header, nav, main, footer {
        max-width: 64rem;
        margin:auto; 
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav ul li a{
         padding: .6rem 1rem;
    }
      

/*----------- MAIN --------------*/

form label.sbs {
    padding: .4rem 0; }


/*----------- FOOTER --------------*/
    
