 


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
//    nav ul {margin-left: 2%; margin-right: 2%}
nav button {display: none;}
    
    nav ul.hide {display: block;}
//  nav ul{margin-left: 2%;}
    nav ul li { float:left;}
    nav ul li:first-child a {border-left: 1px solid #777;}
    nav ul li:last-child a {border-right: 1px solid #777;}
    nav ul li a{padding: .5rem 1rem; font-size: 1.3rem;}
nav ul li {
    
    width: 25%;
    
}


/*----------- MAIN --------------*/
.bio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
/*----------- FOOTER --------------*/
    
