header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/

@for $i from 0 through 12 {
    $w:($i / 12) * 100%;
    .large-#{$i} {flex-basis: $w,}
}

/*----------- FOOTER --------------*/
    
