/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: $priamryColor;
    
}
header img {
   float: left;   
    margin: .5rem .5rem 1rem 0;
}
header h1 {margin: 0; color: purple;}
header h2 {margin: 0; font-weight: normal; color:rebeccapurple}

/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}
h1.title{
    margin-bottom: 0;
//    font-style: normal;
}
/*----------- FORM --------------*/

form fieldset {
    margin: 1rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: rebeccapurple;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div{
    display: block;
    padding-top: 1rem;
    color: purple;
    font-size: .8rem;
}

form label.top input, form label.top select{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border:solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background: rgba(0,0,0,0.1);
}



form label.sbs {
    display: block;
    margin-top: .5rem;
    padding: .75rem 1rem;
    font-size: .8rem;
//    color: #555;
    color: purple;
}

form label.style {
    margin-top:0;
    font-size: 1rem;
    color: #555;
}


form input.submitBtn {
    border: none;
    background-color: rebeccapurple;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: rebeccapurple solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}



/*----------- FOOTER --------------*/
footer {
    background-color: $priamryColor;
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}