header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header h1 {margin: 2rem; margin-bottom: 0; font-size: 3rem;}
header h2 {margin: 3rem; margin-top:0; font-weight: normal; font-size: 2rem;}


/*----------- NAVIGATION --------------*/
nav ul li {
    float: left;
    width: 13%;
}


/*----------- MAIN --------------*/

div.cards {
//    display: flex;
//    flex-wrap: wrap;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    flex-basis: 25%;
}

/*----------- FOOTER --------------*/
    
