/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/

header{
    padding: .5rem 2%;
    width:100%;
    height:auto;
    height: 150px;
    background:url(../images/bostonLarge.jpg);
    opacity: 0.7;
}


 h1 {margin: 1rem; margin-bottom: 0; font-size: 2rem; color: black;}
 h2 {margin: .5rem; margin-top:0; font-weight: normal; font-size: 1rem; color: black;}

/*----------- NAVIGATION --------------*/
nav {
    background-color: gold;
}
nav button{
    margin: .2rem 2% .2rem 0;
    background-color: transparent;
    border:none;
    font-size: 1.6rem;
    color:darkgoldenrod;
//    position: absolute;
    display: block;
}

nav ul.hide {display:none;}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
//    background-color: goldenrod;
    color: black;
    border-left: 1px solid #777;
    padding: .9rem 2%;
    text-decoration: none;
    font-size: .85rem;
    text-align: center;
}
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: darkgoldenrod;
    color: #333;
}
nav ul li.active a {
    background-color:darkgoldenrod;
    color: #fff;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}
main h2{
    font-size: 2rem;
}

.sliders img{
    margin-top: 2%;
    width:100%;
}

div.cards {
//    display: flex;
//    flex-wrap: wrap;
    display:grid;
    grid-template-columns: 1fr;
    text-align: center;
    flex-basis: 100%;
    
}

div.cards div:nth-child(1) {
    background-image:url("../images/toVist.jpg");
    margin:.5rem;
}

div.cards div:nth-child(2) {
    background-image:url("../images/toStay1.jpg");
    margin:.5rem;
}

div.cards div:nth-child(3) {
    background-image:url("../images/toStay.jpg");
    margin:.5rem;
}

div.cards div:nth-child(4) {
    background-image:url("../images/toEat.jpg");
    margin:.5rem;
}

div.cards div a{
    display:block;
    width: 100%;
    height: 300px;
    text-decoration: none;
    padding: 0 2%;
    transition: all .5s ease-in;
}

div:nth-child(1) a {
    background-color: powderblue;
}
div:nth-child(2) a {
    background-color: powderblue;
}
div:nth-child(3) a {
    background-color: powderblue;
}
div:nth-child(4) a {
    background-color: powderblue;
}

div.cards div a:hover{
    background:none;
    text-shadow: 0 0 4px black;
}

div.cards a img {
    padding: 4rem 0 0 0;
}

div.cards a h3{
    font-size: 1.2rem;
    padding: 1rem 0;
    color: black;
}

/*----------- FOOTER --------------*/
footer {
    background-color: goldenrod;
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}